body {
  height: 100vh;
}

.main {
  display: flex;
  height: 100%;
}

.left {
  flex: 1;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  flex: 1;
  background-color: aqua;
  position: relative;
}

.image {
  height: 200px;
  width: 200px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
