/* CSS Variables...................... */

:root {
    /* Text */
    --header-txt-color: #1d2120;
    --secondary-txt-color: #5a5c51;

    /* Navigation */
    --nav-txt-color: #ba9077;
    --nav-txt-hover: #b56969;

    /* Fonts */
    --main-font-family: 'Poppins', sans-serif;
    --nav-font-size: .8em;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --nav-letter-spacing: .12em;

    /* Main section */
    --main-bg-color: #fff;
    --right-bg-color: #dbe9d8;
}

/* Page styles....................... */

* {
    font-family: var(--main-font-family);
    margin: 0;
}
body {
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    background: var(--main-bg-color);
    color: var(--header-txt-color);
    font-size: 14px;
}

header {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    top: 0;
}

/* Logo style...................... */

.logo {
    min-width: 120px;
    margin: 0 auto;
    display: flex;
    flex: 1 1 0;
}

.logo h1 {
color: var(--nav-txt-color);
font-size: var(--nav-font-size);
font-weight: var(--font-weight-bold);
text-transform: uppercase;
}

/* Navigation styles.................... */

nav {
    padding: 20px 0;
    position: relative;
    background: transparent;
    letter-spacing: var(--nav-letter-spacing);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--nav-txt-color);
    font-size: var(--nav-font-size);
    font-weight: var(--font-weight-bold);
    display: block;
    padding-left: 60px;
}

nav a:hover {
    color: var(--nav-txt-hover);
}

/* Main section................... */

.main {
    display: flex;
    height: 100vh;
    padding: 57px 0;
}

.left {
    flex: 4;
    position: relative;
    background-color: var(--main-bg-color);
    justify-content: center;
    align-items: center;
    height: 80%;
}

.right {
    flex: 3;
    position: relative;
    background-color: var(--right-bg-color);
    height: 80%;
}

.image {
    height: 280px;
    width: 280px;
    position: absolute;
    background-color: #fff;
    top: 45%;
    left: 0;
    transform: translate(-50%, -50%);
    margin: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5) 
                url("img/orange.jpg") 
                no-repeat 
                center / 
                contain 
                padding-box 
                border-box;
}

/* Left section style ------------------ */

.title {
    display: block;
    position: absolute;
    top: 15%;
    margin: 20px 0;
}

.title h1 {
    color: var(--secondary-txt-color);
    font-size: 4em;
    text-transform: uppercase;
}

.title h2 {
    color: var(--secondary-txt-color);
    font-size: 4em;
    text-transform: uppercase;
}

.description {
    width: 300px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 55%;
    margin: 20px 0;
}

.description p {
    line-height: 2em;
    color: var(--secondary-txt-color);
}

.arrow {
    display: block;
    width: 24px;
    height: 24px;
    background: url(img/arrow_forward-24px.svg) 
                no-repeat 
                right;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    top: 75%;    
    margin: 20px 0;
}

/* For screen > 768px */

@media screen and (min-width: 768px) {

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
        align-content: flex-end;
    }
}

/* For screen < 768px */

@media screen and (max-width: 768px) {

    nav ul {
        display: flex;
        flex-wrap: wrap;
    }
}